/* color */
// .mcs-{
//   &primary {
//     background-color: $primary !important;
//     color: #fff !important;
//   }
//   &secondary {
//     background-color: $secondary !important;
//   }
//   &grey {
//     background-color: $grey !important;
//   }
// }

.w100p {
  width: 100%;
}

.h100p {
  height: 100%;
}

.f100p {
  width: 100%;
  height: 100%;
}

.relative {
  position: relative;   
}

.button-area {
  @include flex-end;
  button {
    @include list-margin-right(0.5rem);
  }
}