#app {
  width: 100%;
  height: 100%;
}

.no-layout {
  width: 100%;
  height: 100%;
}

.main-layout {
  .main-header {
    @include flex-start;
    font-size: 2rem;
    padding: 5px 2rem;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0px -2px 6px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    height: $header-height;

    p {
      cursor: pointer;
    }
    a {
      margin-left: 1rem;
      cursor: pointer;
    }

    .btn-area {
      @include flex-center;
      margin-left: auto;
      button {
        @include list-margin-right(1rem);
        font-size: 1.5rem;
      }
    }
  }
}