/* color */
$primary: #1d56be;
$secondary: #D6E6F2;
$grey: #e0e0e0;
$bg-color: #F7FBFC;

/* device */
$desktop: 1399px;
$laptop: 1023px;
$tablet: 767px;
$mobile: 639px;

/* layout-size */
$header-height: 57px;