.global-dialog-layout {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9991;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: opacity .3s ease;
  @include flex-center;

  .global-dialog {
    width: 360px;
    button {
      margin-right: 5px;
      &.cancel {
        background-color: #EEEEEE;
      }
      &.confirm {
        background-color: #81D4FA;
      }
      &:last-child {
        margin-right: 0px;
      }
    }
  }
}